.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

thead {
  background-color: #EA3354;
}

th {
  padding: 20px 15px;
  font-weight: 700;
  text-transform: uppercase;
}

td {
  padding: 15px;
  border-bottom: solid 1px black;
}

tbody tr:hover {
  background-color: #ea335567;
}

img {
  cursor: pointer;
}
