.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonAdd {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
}

.containerButton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttonAdd:hover {
  border: 2px solid #EA3354;
  box-shadow: 0px 0px 8px #EA3354;
  background-color: rgb(202, 200, 200);
}
.position {
  align-self: center;
  color: red;
}