@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.container {
  font-family: 'Nunito', sans-serif;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 15%;
  background-color: #aace9b;
}

.welcome div {
  margin-right: 15%;
}
.welcome div h2 {
  font-size: 30px;
  color: #373867;
}

.welcome div p {
  color: #373867;
  font-size: 20px;
}

.functionalities {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  padding: 50px 15%;
  background-color: #f0f4f9;
}

.subFunctionalities {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.functionalities h3 {
  color: #373867;
}

.functionalities p {
  color: #373867;
}

.functionalities img{
  margin-right: 15px;
}

.reasonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #373867;
}

.reasons h2 {
  font-size: 32px;
}

.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reasonsDiv {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #f0f4f9;
  width: 300px;
  height: 150px;
  padding: 25px 50px;
  margin: 30px;
}

.reasonsDiv div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15%;
  color: #373867;
  background-color: #aace9b;
}

.aboutContainer h2 {
  font-size: 32px;
  font-weight: bold;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 0 120px;
  border-radius: 50px;
  background-color: #f0f4f9;
  text-align: center;
  font-size: 20px;
}

.aboutContainer img {
  max-width: 500px;
  max-height: 400px;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aace9b;
  }
}

@media screen and (max-width: 750px) {
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aace9b;
  }

  .welcome img {
    max-width: 300px;
  }

  .functionalities {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f4f9;
  }

  .about {
    max-width: 300px;
  }
  .aboutContainer img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
  }
}
