.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .form label{
    padding: 10px;
}
.input{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input Button {
    margin: 10px;
}

.submitBtn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */