.container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.inputsBox{
    margin: 30px;
    padding: 30px 100px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.inputsBox h2 {
    display: flex;
    justify-content: center;
}

.inputsBox .inputs {
    display: flex;
    justify-content: center;
}