@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.table{
  box-shadow:0 8px 16px 0 rgba(0,0,0,.1);
}

.head{
  text-align: center;
}

.addImg{
  height: 50px;
  width: 50px;
}

.containerButton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
