.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerButton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

