.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position{
  align-self: center;
}

.theadContainer {
  align-items: center;
}

.tbodyContainer {
  align-items: center;
}

.tbodyContainer.tr {
  margin-left: 10px;
  margin-right: 10px;
}

.none {
  color: crimson;
}

.containerButton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
