.container{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.modal{
    margin: auto;
    margin-top: 200px;
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
}
.title{
    background-color: #232F3E;
    padding: 10px;
    text-align: center;
}
.title h3{
    color: white;
}
.buttonContainer{
    display: flex;
    justify-content: space-around;

}
p{
    text-align: center;
}
.buttonClose{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttonDelete{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}