table {
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 0px 15px #696969;
    background-color: #373867;

}
thead {
    color: #F0F4F9;
}
td {
    padding: 10px;
    text-align: center;
}
th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.bodyTable{
    background-color: #F0F4F9;
}
.tr {
    cursor: pointer;
}
.tr:nth-child(even) {
    background-color: #cee9c2;
}
.tr:hover {
    box-shadow: 0px 0px 8px #d8d8e8;
}
.tr2:nth-child(even) {
    background-color: #cee9c2;
}
.tr2:hover {
    box-shadow: 0px 0px 8px #d8d8e8;
}
.tableStyle{
    border-radius: 10px;
}
tbody tr:hover {
    background-color: rgba(187, 188, 242, 0.5);
}
img {
    cursor: pointer;
}
.container a:hover {
    background-color: rgba(187, 188, 242, 0.5);
}