.select {
    padding-top: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: black 1px solid;
    margin-bottom: 10px;
}
.none {
    color: crimson;
}
.errorMessage {
    color: red;
  }