  .selectBox,
.selectBox * {
  margin: 5px;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.selectBox {
  position: relative;
  border-radius: 4px;
}
.selectBox select {
  font-size: 1rem;
  font-weight: normal;
  width: 100%;
  padding: 8px 24px 8px 10px;
  border: 1px solid #F0F4F9;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.selectBox select:active, .selectBox select:focus {
  outline: none;
  box-shadow: none;
}
.selectBox:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.none {
  color: crimson;
}
.errorMessage {
  color: red;
}