.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.container Button {
    margin: 10px;
}

.projectForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.projectForm label {
    padding: 2%;
}

.employeeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.employeeForm label {
    padding: 2%;
}

.save {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.employees {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
}