@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}