.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container table{
  border-collapse: collapse;
}
/* th{
  font-size: 20px;
} */
.buttonCreate{
  width: 100px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.buttonCreate:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}
