.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets/backgroundStars.jpg');
}

.main {
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 90%;
  /* height: 250px; */
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
}

.rutes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.rutes > li > a {
  margin-left: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: #FFF;
}

.license {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  padding: 0 20px;
  color: white;
  background-color: #373867;
}

.copyright {
  font-size: 0.7rem;
  font-style: italic;
}

.socialIcon {
  margin-left: 5px;
  background-color: white;
}

@media screen and (min-width: 750px) {
  .main {
    padding: 0 20%;
    padding-left: 40%;
    width: unset;
  }

  .license {
    padding: 0 20px;
    width: calc(60% - 40px);
  }

  .socialIcon {
    margin-left: 15px;
  }
}

.rocketImg{
  width: 10%;
  align-self: flex-end;
}