.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(57, 54, 75);
  height: 90px;
}

.copyright {
  color: #f0f4f9;
  font-size: 0.7rem;
  font-style: italic;
  margin-bottom: 10px;
}

.socialIcon {
  margin-top: 15px;
  margin-left: 5px;
  width: 24px;
}

@media screen and (min-width: 750px) {
  .main {
    padding: 0 20%;
    padding-left: 40%;
    width: unset;
  }

  .socialIcon {
    margin-left: 15px;
    width: 32px;
  }
}