.input {
  padding-top: 8px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: black 1px solid;
}
.container {
  margin-bottom: 5px;
}
.warning{
  color: red;
  font-size: 12px;
  text-align: center;
}
.errorMessage {
  text-align: center;
  color: red;
  margin: 0;
  font-size: 15px;
}