.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
input[type="text"]{
width: 400px;
height: 30px;
margin-right: 20px;
}
th{
  padding-top: 20px;
  font-size: 20px;
}
button{
  width: 200px;
  height: 50px;
  font-size: 20px;
}