.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.buttonContainer{
  display: flex;
  justify-content: center;
}

.position {
  align-self: center;
  color: red;
}