.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.buttonContainer{
  display: flex;
  justify-content: center;
}
.buttonContainer button{
  width: 200px;
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
}
.inputs{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.inputs label{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.position {
  align-self: center;
  color: red;
}